@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 35 25% 90.59%;
    --foreground: 27.8 57.75% 13.92%;
    --card: 35 25% 90.59%;
    --card-foreground: 27.8 57.75% 13.92%;
    --popover: 30 100% 98.43%;
    --popover-foreground: 27.8 57.75% 13.92%;
    --primary: 27.8 57.75% 13.92%;
    --primary-foreground: 35 25% 90.59%;
    --secondary: 30 100% 98.43%;
    --secondary-foreground: 27.8 57.75% 13.92%;
    --muted: 27.27 26.83% 83.92%;
    --muted-foreground: 26.94 32.89% 29.22%;
    --accent: 20 27.27% 97.84%;
    --accent-foreground: 24.59 25.52% 46.86%;
    --destructive: 0 65.33% 44.12%;
    --destructive-foreground: 0 0% 98.04%;
    --border: 25.71 22.58% 63.53%;
    --input: 30 100% 98.43%;
    --ring: 26.94 32.89% 29.22%;
    --radius: 0.5;
  }

  .dark {
    --background: 240 10% 3.92%;
    --foreground: 0 0% 98.04%;
    --card: 240 10% 3.92%;
    --card-foreground: 0 0% 98.04%;
    --popover: 240 10% 3.92%;
    --popover-foreground: 0 0% 98.04%;
    --primary: 0 0% 98.04%;
    --primary-foreground: 240 5.88% 10%;
    --secondary: 240 3.7% 15.88%;
    --secondary-foreground: 0 0% 98.04%;
    --muted: 240 3.7% 15.88%;
    --muted-foreground: 240 5.03% 64.9%;
    --accent: 240 3.7% 15.88%;
    --accent-foreground: 0 0% 98.04%;
    --destructive: 0 62.03% 30.98%;
    --destructive-foreground: 0 0% 98.04%;
    --border: 240 3.7% 15.88%;
    --input: 240 3.7% 15.88%;
    --ring: 240 4.88% 83.92%;
    --radius: 0.5;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
